<section class="products" ng-controller="ProductsListCtrl as prdCtrl">

    <div class="row">
        <label>Sort by</label>
        <div ng-repeat="option in prdCtrl.sortOptions">
            <a ng-click="prdCtrl.toggleSort(option)" ng-class="{'disabled': prdCtrl.sortBy === option}">{{option}}</a>
        </div>
    </div>

    <div infinite-scroll="prdCtrl.fetchProducts()" infinite-scroll-disabled="prdCtrl.isFetchingProducts" infinite-scroll-distance='150' class="row">

        <div ng-repeat="product in prdCtrl.products">

            <div class="thumbnail cell col-sm-4 col-lg-3">
                <div ng-style="{ 'font-size' : product.size }">{{ product.face }}</div>
                <div><label>Id</label>{{ product.id }}</div>
                <div><label>Price</label>{{ product.price | currency }}</div>
                <div><label>Date</label>{{ product.date | relative }}</div>
            </div>

            <img class="thumbnail cell col-sm-4 col-lg-3" ng-if="prdCtrl.shouldDisplayAd($index)" ng-src="{{ prdCtrl.buildAdUrl($index) }}" />
            <!--<div class="thumbnail cell col-sm-4 col-lg-3" ng-if="prdCtrl.shouldDisplayAd($index)">
                <img class="img-responsive" ng-src="{{ prdCtrl.buildAdUrl($index) }}" />
            </div>-->

        </div>
    </div>

    <div ng-if="prdCtrl.isFetchingProducts" class="row">
        loading...
    </div>

    <div ng-if="prdCtrl.reachedEnd" class="row">
        ~ end of catalogue ~
    </div>

</section>
